@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #F2F2F2, #4184BF);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #1314267e;
}

h1{
    color: #49A67A;
    text-align: center;
    text-shadow: 1px 1px 2px #1314267c;
}

h2{
    color: #F2A950;
}

p {
    text-align: justify;

}